In [29]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import set_config
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_selector
from sklearn.compose import make_column_transformer

In [30]:
path = '/content/drive/MyDrive/Coding Dojo/sales_predictions.csv'
df = pd.read_csv(path)
df.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700

In [31]:
ml_df = df.copy()
# making a copy to test out our machine learning without changing our original dataframe

In [32]:
# Before splitting the data drop duplicates and fix inconsistencies in categorical data
ml_df.isna().sum().sum()

3873

In [33]:
ml_df.dropna(inplace=True)

In [34]:
ml_df.drop_duplicates(inplace=True)

In [35]:
# Identify the features (X) 
#and target (y): Assign the "Item_Outlet_Sales" column as your target 
#and the rest of the relevant variables as your features matrix.  
Target = "Item_Outlet_Sales"
X = df.drop(columns= Target)
y = df[Target]

In [36]:
# Perform a train test split 
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)
X_train.shape

(6392, 11)

In [37]:
# Create a preprocessing object to prepare the dataset for Machine Learning
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [38]:
# Make sure your imputation of missing values occurs after the train test split using SimpleImputer.  
freq_imputer = SimpleImputer(strategy='most_frequent')
mean_imputer = SimpleImputer(strategy='mean')

scaler = StandardScaler()

ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)